---
layout: default
title: Bentonic
published: true
artists: ["Benjamin Stalder", "Tonja Andenmatten"]
---

<section class="site-section">
	<div class="section-container">
		<h1>Bentonic Band</h1>
		<a href="http://bentonic.ch" target="_blank">Zur Website</a>
	</div>
</section>
<section class="site-section section-artists bg-dark">
	<div class="section-container">
		<h1 class="section-title">Musik Künstler</h1>
		<div class="artists">
			{% for artist in site.artists  %}
				{% if page.artists contains artist.title %}
				<article class="artist">
					<div class="artist-image">
						<picture width="200" height="200">
							<img width="200" height="200" srcset="{{site.baseurl}}{{artist.image}}-sq-200.jpeg 1x, {{site.baseurl}}{{artist.image}}-sq-400.jpeg 2x" src="{{site.baseurl}}{{artist.image}}-sq-200.jpeg" alt="{{artist.title}}">
						</picture>
					</div>
					<div class="artist-infos">
						<h2 class="artist-name">{{artist.title}}</h2>
						<ul class="artist-keywords">
							<li>Pianobauer</li>
							<li>Piano</li>
							<li>Musiklehrer</li>
							<li>Guitar</li>
							<li>The big brother</li>
							<li>Mandolune</li>
						</ul>
						<a href="{{ site.baseurl }}{{artist.url}}" class="artist-link">zum Künstler</a>
					</div>
				</article>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</section>

<section class="site-section">
	<div class="section-container">
		<h1>MedienDaten</h1>
		<ul>
			<li><a target="blank" title="TuneWest musik mp3 demo" href="{{site.baseurl}}/audio/medley.mp3">Musik-Demo</a></li>
			<li><a target="blank" title="TuneWest musik mp3 demo" href="{{site.baseurl}}/projekte/tunewest/bilder.zip">Bilder</a></li>
			<li><a target="blank" title="TuneWest musik mp3 demo" href="{{site.baseurl}}/projekte/tunewest/logo.zip">Logo</a></li>
			<li><a target="blank" title="TuneWest musik mp3 demo" href="{{site.baseurl}}/projekte/tunewest/stage-rider.pdf">Stage Rider</a></li>
		</ul>
	</div>
</section>
