<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Music Hub </title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/app.css" />
  <script async defer src="{{ site.baseurl }}/js/modernizr.min.js"></script>
  <script async defer src="{{ site.baseurl }}/js/picturefill.min.js"></script>  
</head>
<body class="inv-banner-off">
 
  <div id="main">
    <header class="site-header">
      <div class="site-header-container">
        <div class="site-name"><a href="{{site.baseurl}}/">Music Hub</a></div>
        <div class="site-description">Die musikalische Familie</div>
        <nav role="navigation">
          <ul>
            <li><a href="{{ site.baseurl }}/">Künstler & Projekte</a></li>
            <li><a href="{{ site.baseurl }}/musik">Musik</a></li>
            <li><a href="{{ site.baseurl }}/news">News</a></li>
            <li><a href="{{ site.baseurl }}/kontakt">Kontakt</a></li>
          </ul>
        </nav>
      </div>
    </header>

    {{ content }}
 
    <footer class="site-footer">
      <div class="site-footer-container">
        <p>® Tune West 2015 | All Rights Reserved. </p>
      </div>
    </footer>
 
  </div>

  <script src="{{ site.baseurl }}/js/assets.min.js"></script>
  <script src="{{ site.baseurl }}/js/main.min.js"></script>
</body>
</html>
